#home-container {
    display: none;
    width: calc(100% - 230px);
    height: 100%;
    float: right;
    transition: all 0.3s ease-in-out;
}

h1 {
    font-size: 26px;
    font-weight: 300;
    margin: 0px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}

h2 {
    color: #333;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0px;
    padding-left: 30px;
    white-space: pre-line;
}

.desc-forum {
    float: left;
}

#solution-options {
    width: 95%;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    margin-left: auto;
    margin-right: auto;
}
